<?xml version="1.0" encoding="utf-8"?>
<!--
This file is used by the publish/package process of your Web project. You can customize the behavior of this process
by editing this MSBuild file. In order to learn more about this please visit http://go.microsoft.com/fwlink/?LinkID=208121. 
-->
<Project ToolsVersion="4.0" xmlns="http://schemas.microsoft.com/developer/msbuild/2003">
  <PropertyGroup>
    <WebPublishMethod>MSDeploy</WebPublishMethod>
    <ADUsesOwinOrOpenIdConnect>False</ADUsesOwinOrOpenIdConnect>
    <LastUsedBuildConfiguration>Release</LastUsedBuildConfiguration>
    <LastUsedPlatform>Any CPU</LastUsedPlatform>
    <SiteUrlToLaunchAfterPublish>http://eparkapp.azurewebsites.net</SiteUrlToLaunchAfterPublish>
    <LaunchSiteAfterPublish>True</LaunchSiteAfterPublish>
    <ExcludeApp_Data>False</ExcludeApp_Data>
    <MSDeployServiceURL>eparkapp.scm.azurewebsites.net:443</MSDeployServiceURL>
    <DeployIisAppPath>eParkApp</DeployIisAppPath>
    <RemoteSitePhysicalPath />
    <SkipExtraFilesOnServer>True</SkipExtraFilesOnServer>
    <MSDeployPublishMethod>WMSVC</MSDeployPublishMethod>
    <EnableMSDeployBackup>True</EnableMSDeployBackup>
    <UserName>$eParkApp</UserName>
    <_SavePWD>True</_SavePWD>
    <PublishDatabaseSettings>
      <Objects xmlns="">
        <ObjectGroup Name="eparkdbEntities" Order="1" Enabled="False">
          <Destination Path="Data Source=eu-cdbr-azure-west-d.cloudapp.net;Initial Catalog=eparkdb;Persist Security Info=True;User ID=b2d171ae38f795;Password=ad220908" Name="server=eu-cdbr-azure-west-d.cloudapp.net;user id=b2d171ae38f795;password=ad220908;persistsecurityinfo=True;database=eparkdb" />
          <Object Type="DbCodeFirst">
            <Source Path="DBContext" DbContext="EparkApp1.eparkdbEntities, EparkApp1" Origin="Configuration" />
          </Object>
        </ObjectGroup>
      </Objects>
    </PublishDatabaseSettings>
  </PropertyGroup>
  <ItemGroup>
    <MSDeployParameterValue Include="$(DeployParameterPrefix)eparkdbEntities-Web.config Connection String">
      <ParameterValue>metadata=res://*/Model1.csdl|res://*/Model1.ssdl|res://*/Model1.msl;provider=MySql.Data.MySqlClient;provider connection string="server=eu-cdbr-azure-west-d.cloudapp.net;user id=b2d171ae38f795;password=ad220908;persistsecurityinfo=True;database=eparkdb"</ParameterValue>
    </MSDeployParameterValue>
  </ItemGroup>
</Project>